/*.locallang_csh_txcalcal.xlf
/*.locallang_csh_txcalcat.xlf
/*.locallang_csh_txcalevent.xlf
/*.locallang_csh_txcalexceptionevent.xlf
/*.locallang_csh_txcalexceptioneventgroup.xlf
/*.locallang_csh_txcallocation.xlf
/*.locallang_csh_txcalorganizer.xlf